footer
    .container
        .row
            .col-md-4
                span.copyright
            .col-md-4
                ul.list-inline.social-buttons
                    li
                        a.icon-twitter(href=links.twitter target='_blank')
                    li
                        a.icon-facebook(href=links.facebook target='_blank')
                    li
                        a.icon-meetup(href=links.meetup target='_blank')
            .col-md-4
                ul.list-inline.quicklinks
                    li= copyright
