//- Navigation
nav.navbar.navbar-default.navbar-fixed-top
    .container
        //- Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
            button.navbar-toggle(type='button' data-toggle='collapse')
                span.sr-only Cambia Navegación
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.page-scroll(href='#page-top')
                | H
                span.orange /
                | F Sonora
        //- Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li.hidden
                    a(href='#page-top')
                li
                    a.page-scroll(href='#acerca') Acerca
                li
                    a.page-scroll(href='#reuniones') Reuniones
                li
                    a.page-scroll(href='#contacto') Contacto
                li
                    a.page-scroll(href='#patrocinadores') Patrocinadores
