script window.hfsonora=window.hfsonora||{};window.hfsonora.lat=#{meeting.lat};window.hfsonora.lng=#{meeting.lng};
script(src="/all.js")
script(src="https://maps.googleapis.com/maps/api/js?callback=initMap" async = "" defer = "")
