$bigman_x = 5px;
$bigman_y = 5px;
$bigman_offset_x = -5px;
$bigman_offset_y = -5px;
$bigman_width = 80px;
$bigman_height = 80px;
$bigman_total_width = 1479px;
$bigman_total_height = 1539px;
$bigman_image = '/img/sprites.png';
$bigman = 5px 5px -5px -5px 80px 80px 1479px 1539px '/img/sprites.png';
$coparmex_x = 5px;
$coparmex_y = 95px;
$coparmex_offset_x = -5px;
$coparmex_offset_y = -95px;
$coparmex_width = 84px;
$coparmex_height = 80px;
$coparmex_total_width = 1479px;
$coparmex_total_height = 1539px;
$coparmex_image = '/img/sprites.png';
$coparmex = 5px 95px -5px -95px 84px 80px 1479px 1539px '/img/sprites.png';
$dub5_x = 5px;
$dub5_y = 185px;
$dub5_offset_x = -5px;
$dub5_offset_y = -185px;
$dub5_width = 160px;
$dub5_height = 80px;
$dub5_total_width = 1479px;
$dub5_total_height = 1539px;
$dub5_image = '/img/sprites.png';
$dub5 = 5px 185px -5px -185px 160px 80px 1479px 1539px '/img/sprites.png';
$hmo247_x = 5px;
$hmo247_y = 275px;
$hmo247_offset_x = -5px;
$hmo247_offset_y = -275px;
$hmo247_width = 675px;
$hmo247_height = 80px;
$hmo247_total_width = 1479px;
$hmo247_total_height = 1539px;
$hmo247_image = '/img/sprites.png';
$hmo247 = 5px 275px -5px -275px 675px 80px 1479px 1539px '/img/sprites.png';
$icon-fun_x = 5px;
$icon-fun_y = 365px;
$icon-fun_offset_x = -5px;
$icon-fun_offset_y = -365px;
$icon-fun_width = 80px;
$icon-fun_height = 80px;
$icon-fun_total_width = 1479px;
$icon-fun_total_height = 1539px;
$icon-fun_image = '/img/sprites.png';
$icon-fun = 5px 365px -5px -365px 80px 80px 1479px 1539px '/img/sprites.png';
$icon-hackers_x = 5px;
$icon-hackers_y = 455px;
$icon-hackers_offset_x = -5px;
$icon-hackers_offset_y = -455px;
$icon-hackers_width = 80px;
$icon-hackers_height = 80px;
$icon-hackers_total_width = 1479px;
$icon-hackers_total_height = 1539px;
$icon-hackers_image = '/img/sprites.png';
$icon-hackers = 5px 455px -5px -455px 80px 80px 1479px 1539px '/img/sprites.png';
$icon-learning_x = 5px;
$icon-learning_y = 545px;
$icon-learning_offset_x = -5px;
$icon-learning_offset_y = -545px;
$icon-learning_width = 80px;
$icon-learning_height = 80px;
$icon-learning_total_width = 1479px;
$icon-learning_total_height = 1539px;
$icon-learning_image = '/img/sprites.png';
$icon-learning = 5px 545px -5px -545px 80px 80px 1479px 1539px '/img/sprites.png';
$icon-networking_x = 5px;
$icon-networking_y = 635px;
$icon-networking_offset_x = -5px;
$icon-networking_offset_y = -635px;
$icon-networking_width = 80px;
$icon-networking_height = 80px;
$icon-networking_total_width = 1479px;
$icon-networking_total_height = 1539px;
$icon-networking_image = '/img/sprites.png';
$icon-networking = 5px 635px -5px -635px 80px 80px 1479px 1539px '/img/sprites.png';
$intugo_x = 5px;
$intugo_y = 725px;
$intugo_offset_x = -5px;
$intugo_offset_y = -725px;
$intugo_width = 172px;
$intugo_height = 79px;
$intugo_total_width = 1479px;
$intugo_total_height = 1539px;
$intugo_image = '/img/sprites.png';
$intugo = 5px 725px -5px -725px 172px 79px 1479px 1539px '/img/sprites.png';
$map-image_x = 5px;
$map-image_y = 814px;
$map-image_offset_x = -5px;
$map-image_offset_y = -814px;
$map-image_width = 1469px;
$map-image_height = 720px;
$map-image_total_width = 1479px;
$map-image_total_height = 1539px;
$map-image_image = '/img/sprites.png';
$map-image = 5px 814px -5px -814px 1469px 720px 1479px 1539px '/img/sprites.png';

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
