//- layouts/default.jade
doctype html
html
    include ../includes/head

    body.index
        include ../includes/nav

        block content

        include ../includes/footer
        include ../includes/scripts
